<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login Page</title>
       <link rel="stylesheet" href="{% static 'crypto-currency/css/login.css' %}">
    </head>

    <body>
        <div class="container">
            <div class="side-image">
                <img style="width:600px; height: 600px;" src="{% static 'crypto-currency/images/wallet.png' %}">
            </div>
            <div class="login-form">

                <div class="title">
                    <h1>Login </h1>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div>
                        <div class="user-name">
                            <label for="User Name ">User Name</label>
                            <span>
                                <img src="{% static 'crypto-currency/images/email.png' %}">
                            </span>
                            <input type="text" id="username" name="username" class="User-name" placeholder="Enter Your username">
                        </div>
                        <div class="password">
                            <label for="password ">Password</label>
                            <span class="icon-1">
                                <img src="{% static 'crypto-currency/images/key.png' %}">
                            </span>
                            <input type="password" id="password" name="password" class="pass-word" placeholder=" Enter Your Password">
                            <span class="icon">
                                <img src="{% static 'crypto-currency/images/eye.png' %}">
                            </span>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn-1">Login</button>
                    </div>
                </form>

                {% if messages %}
                {% for message in messages %}
                
                <p> {{message}} </p>

                {% endfor %}
                {% endif %}
                <p>Do you have an account? <a href="">register</a> </p>
                <div>
                    <button type="submit" class="btn-2"><img src="{% static 'crypto-currency/images/back.png' %}">Back</button>
                </div>
            </div>
        </div>
    </body>

</html>