{% extends "crypto-currency/login.html" %}
{% load static %}
 {% block title %}Register | Crypto wallet{% endblock title %}
{% block form %}

{% block form_title %}Register{% endblock form_title %}
<form method="post">
{% csrf_token %}
{{register_form}}

<div>
<button type="submit" class="btn-1">Register</button>
</div>  

</form>

  {% endblock form %}
    {% if messages %}
    {% for message in messages %}
                
    <p> {{message}} </p>

    {% endfor %}
    {% endif %}
{% block loginpara %}
                <p> Have an account? <a href="{%url 'login'%}">login</a> </p>
                 {% endblock loginpara %}