.card-title img {
    width: 50px;

}

.card-title {
    margin-left: 150px;
    margin-top: -20px;
}

.card-body p {
    padding-left: 60px;
}

.card-body a {
    margin-left: 90px;
}

.card {
    position: absolute;
}